*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

hr{
	position: relative;
	width: 50%;
	height: 4px;
	margin: 0 auto;
	margin-top: 10px;
	background-color:#222f3e;
	border: none;
}

body{
	background-image: url("images/university1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main{
	background-color: rgba(255, 255,255,0.3);
	
}

nav{
	position: relative;
	display: flex;
	height: 140px;
	width: 100%;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.logo{
	background-color: red;
	background-repeat: no-repeat;
	flex-shrink: 0;
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

.brand_name{
	padding-top: 30px;
	margin-left: 40px;
	flex: 90%;
	text-align: left;
	height: 100px;
}

.brand_name p{
	font-size: 40px;
	font-family: raleway;
}

article{
	display: flex;
	height: 620px;
	width: 100%;
}

.left{
	z-index: 1;
	position: relative;
	flex: 60%;
	display: flex;
}


.hand{
	height: auto;
	flex: 60%;
	background-repeat: no-repeat;
	background-image: url("images/hand.png");
}

.overlay{
	position: absolute;
	top: 170px;
	left: 177px;
	height: 260px;
	width: 155px;
	background-repeat: no-repeat;
	background-color: #3498db;
	z-index: -1;
}

.recover{
	margin-top: 12px;
	font-size: 20px;
	font-family: raleway;
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
	color: #2980b9;
}


.text{
	flex: 40%;
	padding: 0px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	height: auto;
}

.comment{
	padding-top: 180px;
	flex: 80%;
	flex-shrink: 0;
}

.comment p{
	font-size: 3em;
	font-family: caveat;
}

.register{
	cursor: pointer;
	flex: 20%;
	position: relative;
}

.register input{
	cursor: pointer;
	bottom: 28px;
	left: 0px;
	position: absolute;
	height: 40px;
	width: 180px;
}

.register :hover,.register2:hover{
	cursor: pointer;
	color: #fff;
	background-color: #9b59b6; 
}

.right{
	position: relative;
	flex: 40%;
	padding-top: 140px;

}

form{
	position: relative;
	padding-left: 25px;
	width: 350px;
	height: 300px;
	margin: 0 auto;
	padding-top: 20px;
}

.error{
	display: inline-block;
	font-family: raleway;
	font-size: 18px;
	color: red;
	margin-top: 12px;
}


input{
	font-family: Raleway;
	font-size: 20px;
	outline: none;
	box-shadow: 2px 2px #bdc3c7;
	text-indent: 10px;
	margin-top: 14px;
	display: block;
	width: 300px;
	height: 40px;
	background-color: #FFF;
	border-radius: 8px;
	border: none;
}


.map:hover{
	background-color: rgba(255,255,255,1);
}


.map{
	cursor: pointer;
	background-image: url("images/map.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 38px 40px;
	margin-top: 96px;
	margin-left: 230px;
	width: 70px;
	height: 70px;
	background-color: rgba(255,255,255,0.4);
/*	right: 40px;
	bottom: 40px;
	position: absolute;*/
	border-radius: 100%;
	box-shadow: 2px 2px #bdc3c7;
}

.login:hover{
	cursor: pointer;
	background-color: #f39c12;
	color: #fff;
}

.login{
	text-indent: 0px;
	cursor: pointer;
	margin-left: 200px;
	width: 100px;
}

.login_writings{
	font-size: 30px;
	font-family: Raleway;
}

.login_writings p{
	margin: 0 auto;
	width: 93px;
}

.register2{
	text-indent: 0px;
	cursor: pointer;
	margin-left: 200px;
	width: 100px;
	display: none;
}

.box_name{
	padding-left: 4px;
	margin-top: 10px;
	font-size: 20px;
	font-family: raleway;
}


@media screen and (max-width: 1170px) {
	.brand_name p{
		font-size: 32px;
		font-family: raleway;
}


  .text{
  	display: none;
  }

  .register2{
	display: block;
}

.left{
	flex: 50%;
}
.right{
	flex: 50%;
}
}

@media screen and (max-width: 748px) {
	.map{
		margin-top: 80px;
	}

	.right{
		padding-top: 40px;
	}
	.brand_name{
		padding-top: 40px;
		margin-left: 10px;
	}
	.brand_name p{
		font-size: 25px;
		font-family: raleway;
	}
	.overlay{
		display: none;
	}
	.left{
		flex: 0%;
	}

	.right{
		flex: 100%;
	}

}